<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>503 Service Unavailable</title>
    <style>
        body { text-align: center; padding: 150px; }
        h1 { font-size: 50px; }
        h4 { color:red }
        body { font: 20px Helvetica, sans-serif; color: #333; }
        article { display: block; text-align: left; width: 650px; margin: 0 auto; }
        a { color: #dc8100; text-decoration: none; }
        a:hover { color: #333; text-decoration: none; }
    </style>
</head>
<body>
    <article>
        <h1>503 Service Unavailable</h1>
        <h4>This is my custom 503 service unavailable page!</h4>
        <div>
            <p>Sorry for the inconvenience at the moment. We&rsquo;ll be back online shortly!</p>
            <p>&mdash; The Team</p>
        </div>
    </article>
</body>
</html>