<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>503 Service Unavailable</title>
    <link rel="stylesheet" href="/assets/error.css">
</head>
<body>
    <article>
        <h1>503 Service Unavailable</h1>
        <h4>This is my custom 503 service unavailable page!</h4>
        <div>
            <p>Sorry for the inconvenience at the moment. We&rsquo;ll be back online shortly!</p>
            <p>&mdash; The Team</p>
        </div>
    </article>
</body>
</html>