<table class="table is-narrow is-fullwidth">
    <tbody>
    {% for technology in universe.getTechnologies() %}
        <tr>
            <td>
                {{ technology.getName() | trans }}
            </td>
            <td>
                {% if value.timestamp is defined %}
                    {{ value.format('d.m.Y') }}
                {% else %}
                    {{ value }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>