{% extends "@App/layout/game-layout.twig" %}

{% block content %}
    {% include "@App/layout/partial/breadcrumb.twig"
            with {
            'items': [
                {'name': currentUniverse.getName, 'url': url('player.overview'), 'icon': 'fas fa-atom has-text-primary'},
                {'name': 'universe.ranking', 'icon': 'fas fa-medal has-text-primary'},
            ]
        }
    %}

    {% include "@App/layout/partial/page-title.twig"
        with {
            'title': 'universe.ranking' | trans,
        }
    %}

    <div class="tabs is-fullwidth-mobile is-medium is-large-mobile">
        <ul>
            <li data-content-id="#alliance" class="is-active">
                <a>
                    <span class="icon"><i class="fas fa-globe has-text-primary" aria-hidden="true"></i></span>
                    <span class="is-hidden-mobile">{{ 'universe.ranking.alliance' | trans }}</span>
                </a>
            </li>
            <li data-content-id="#galaxy">
                <a>
                    <span class="icon"><i class="fas fa-project-diagram has-text-primary" aria-hidden="true"></i></span>
                    <span class="is-hidden-mobile">{{ 'universe.ranking.galaxy' | trans }}</span>
                </a>
            </li>
            <li data-content-id="#player">
                <a>
                    <span class="icon"><i class="fas fa-user has-text-primary" aria-hidden="true"></i></span>
                    <span class="is-hidden-mobile">{{ 'universe.ranking.player' | trans }}</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="alliance">
        {% include '@Universe/partial/universe-table-ranking-alliance.twig' %}
    </div>
    <div id="galaxy" class="is-hidden">
        {% include '@Universe/partial/universe-table-ranking-galaxy.twig' %}
    </div>
    <div id="player" class="is-hidden">
        {% include '@Universe/partial/universe-table-ranking-player.twig' %}
    </div>
{% endblock %}
