{% extends "@App/layout/game-layout.twig" %}

{% block content %}
    {% include "@App/layout/partial/breadcrumb.twig"
            with {
            'items': [
                {'name': currentUniverse.getName, 'url': url('player.overview'), 'icon': 'fas fa-atom has-text-primary'},
                {'name': 'universe.ranking', 'icon': 'fas fa-medal has-text-primary'},
            ]
        }
    %}

    {% include "@App/layout/partial/page-title.twig"
        with {
            'title': 'universe.ranking' | trans,
        }
    %}

    <h5 class="title is-5">{{ 'universe.ranking.alliance' | trans }}</h5>
    {% include '@Universe/partial/universe-table-ranking-alliance.twig' %}

    <h5 class="title is-5">{{ 'universe.ranking.galaxy' | trans }}</h5>
    {% include '@Universe/partial/universe-table-ranking-galaxy.twig' %}

    <h5 class="title is-5">{{ 'universe.ranking.player' | trans }}</h5>
    {% include '@Universe/partial/universe-table-ranking-player.twig' %}
{% endblock %}
