{% extends "@App/layout/account-layout.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            {% include "@App/layout/partial/breadcrumb.twig"
                with {
                'items': [
                    {'name': 'app.home', 'url': url('universe.select'), 'icon': 'fas fa-home has-text-primary'},
                    {'name': universe.getName, 'icon': 'fas fa-meteor has-text-primary'},
                ]
            }
            %}
            <h1 class="title is-3">{{ universe.getName }}</h1>
            <div class="border-divider is-primary">
                <div class="border-divider-inner"></div>
            </div>
        </div>
        <div class="container">
            <p>{{ universe.getDescription }}</p>
        </div>
    </section>
    
    <section class="section">
        <div class="container">
            <h2 class="title">{{ 'universe.settings' | trans }}</h2>
            <div class="border-divider is-primary">
                <div class="border-divider-inner"></div>
            </div>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column has-layer">
                    {% include '@Universe/partial/universe-table-settings.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
