{% extends "@App/layout/game-layout.twig" %}

{% block content %}
    {% include "@App/layout/partial/breadcrumb.twig"
            with {
            'items': [
                {'name': currentUniverse.getName, 'url': url('player.overview'), 'icon': 'fas fa-atom has-text-primary'},
                {'name': 'universe.ranking', 'icon': 'fas fa-medal has-text-primary'},
            ]
        }
    %}

    <div class="tabs is-fullwidth-mobile is-medium">
        <ul>
            <li data-content-id="#alliance" class="is-active has-justified-content-mobile">
                <a>
                    <span class="icon is-hidden-mobile"><i class="fas fa-globe has-text-primary"></i></span>
                    <i class="fas fa-globe has-text-primary is-hidden-tablet"></i>
                    <span class="is-hidden-mobile">{{ 'universe.ranking.alliance' | trans }}</span>
                </a>
            </li>
            <li data-content-id="#galaxy" class="has-justified-content-mobile">
                <a>
                    <span class="icon is-hidden-mobile"><i class="fas fa-project-diagram has-text-primary"></i></span>
                    <i class="fas fa-project-diagram has-text-primary is-hidden-tablet"></i>
                    <span class="is-hidden-mobile">{{ 'universe.ranking.galaxy' | trans }}</span>
                </a>
            </li>
            <li data-content-id="#player" class="has-justified-content-mobile">
                <a>
                    <span class="icon is-hidden-mobile"><i class="fas fa-user has-text-primary" aria-hidden="true"></i></span>
                    <i class="fas fa-user has-text-primary is-hidden-tablet"></i>
                    <span class="is-hidden-mobile">{{ 'universe.ranking.player' | trans }}</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="alliance">
        {% include '@Universe/partial/universe-table-ranking-alliance.twig' %}
    </div>
    <div id="galaxy" class="is-hidden">
        {% include '@Universe/partial/universe-table-ranking-galaxy.twig' %}
    </div>
    <div id="player" class="is-hidden">
        {% include '@Universe/partial/universe-table-ranking-player.twig' %}
    </div>
{% endblock %}
