<footer class="footer">
    <div class="content has-text-centered">
        <div class="column is-8 is-offset-2">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
            </p>
        </div>
        <p>
            <i>{{ 'app.galactic.conquest' | trans }} 2019</i>
        </p>
    </div>
</footer>