@charset "utf-8";

/*
 * Custom
 */

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body {
    /*
    background: url('images/background/stars.jpg') fixed top;
     */

    background-color: #22313a;
}

.hero.gc-intro {
    background: linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 80%,
            rgba(0, 0, 0, 1) 100%), url('images/intro/2.jpg') no-repeat center center;

    background-size: auto auto, auto auto;
    box-shadow: 0 0 50px 30px rgba(0, 0, 0, 1);
}


[off-canvas] {
    background-color: #1e2a31;
}

.custom-duration-200 {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

#sidebar-content-wrapper {
    scroll-behavior: smooth;
    background-color: rgba(96, 96, 96, 0.2);
}

nav.is-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}