{% extends "@App/layout/game-layout.twig" %}

{% block content %}
    <div class="container">
        {% include "@App/layout/partial/breadcrumb.twig"
            with {
                'items': [
                    {'name': currentUniverse.getName, 'url': url('player.overview'), 'icon': 'fas fa-atom has-text-primary'},
                    {'name': 'player.nav.planet.fleet', 'icon': 'fas fa-space-shuttle has-text-primary'},
                ]
            }
        %}
    </div>

    <div class="container has-margin">
        <div class="columns">
            <div class="column">
                {% include "@Player/partial/player-table-fleet-movable.twig"
                    with {
                        'movableUnits' : movableUnits,
                        'playerFleetsOrbitAndMovable' : currentPlayer.getPlayerFleetsOrbitAndMovable,
                    }
                %}
            </div>
            <div class="column">
                {% include "@Player/partial/player-form-fleet-movable.twig"
                    with {
                        'movableUnits' : movableUnits,
                        'playerFleetsOrbitAndMovable' : currentPlayer.getPlayerFleetsOrbitAndMovable,
                    }
                %}
            </div>
        </div>
    </div>

    <div class="container has-margin">
        <h2 class="title is-size-4 has-text-grey">Mission</h2>
        {% include "@Player/partial/player-form-fleet-mission.twig"
            with {
                'playerFleetsMovable' : currentPlayer.getPlayerFleetsMovable,
                'universeInterval' : universeInterval,
                'maxTicksMissionOffensive' : maxTicksMissionOffensive,
                'maxTicksMissionDefensive' : maxTicksMissionDefensive,
            }
        %}
    </div>
{% endblock %}
