{% extends "@App/layout/game-layout.twig" %}

{% block content %}
    {% include "@App/layout/partial/breadcrumb.twig"
        with {
            'items': [
                {'name': 'app.home', 'url': url('universe.select'), 'icon': 'fas fa-home has-text-primary'},
                {'name': currentUniverse.getName, 'icon': 'fas fa-atom has-text-primary'},
            ]
        }
    %}

    <h1 class="title is-2">{{ 'player.overview' | trans |format(currentUser.getName) }}</h1>
    <h2 class="subtitle">{{ 'universe.dashboard.description' | trans }}</h2>
{% endblock %}