@charset "UTF-8";

/*************************
* Particles
**************************/

#particles-js {
    position:absolute;
    width: 100%;
    height: 100%;
}

/*************************
* Sidebar
**************************/

[off-canvas] {
    background-color: #ffffff;
}

.custom-duration-400 {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.custom-duration-600 {
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
}

/*************************
* Bulma
**************************/

/** tabs */
.is-hidden {
    display: none;
}

/** tabs */

@media screen and (max-width: 768px), print {
    .tabs.is-fullwidth-mobile li {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 768px), print {
    .tabs.is-large-mobile {
        font-size: 1.5rem;
    }
}

/** Helper */
.has-margin {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

/** Footer */
footer.footer {
    margin-left: -24px;
    margin-right: -24px;
}

/** Navbar */
.navbar-brand.left-burger .navbar-burger {
    margin-left: 0;
    margin-right: 0;
}

/** Form */
.input.has-length-small {
    max-width: 65px;
    min-width: 65px;
}

.input.has-length-medium {
    max-width: 100px;
    min-width: 65px;
}

.field-label.is-narrow {
    flex-grow: 0;
}

/** Typo */

.has-no-wrap {
    white-space: nowrap;
}

.field.has-addons.has-addons-right.has-justified-content-center {
    justify-content: center;
}

/** Table */

/** centered table columsn */
.table.has-valigned-cells td {
    vertical-align: middle;
}

.has-min-width-150 {
    min-width: 150px;
}

/**
** Progress bar
 */

.progress-container:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    color: #fff;
    line-height: 1rem;
    font-size: small;
}

.progress-container {
    position: relative;
    text-align: center;
}