<div class="table-container">
    <table class="table is-narrow is-fullwidth has-valigned-cells">
        <thead>
            <tr>
                <th>{{ 'galaxy.tactic.military.unit.name' | trans }}</th>
                <th>{{ 'galaxy.tactic.military.unit.quantity' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for playerFleetUnit in player.getPlayerFleetStationary.getPlayerFleetUnits %}
                <tr>
                    <td>
                        {{ playerFleetUnit.getUnit.getName | trans }}
                    </td>
                    <td>
                        {{ playerFleetUnit.getQuantity | number }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
