@charset "utf-8";

.is-hidden {
    display: none;
}

.has-margin {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

table.has-no-wrap td, table td.has-no-wrap {
    white-space: nowrap;
}

.field.has-addons.has-addons-right.has-justified-content-center {
    justify-content: center;
}

.has-text-valigned {
    vertical-align: middle;
}
