{% extends "@App/layout/game-layout.twig" %}

{% block content %}
    <div class="container">
        {% include "@App/layout/partial/breadcrumb.twig"
            with {
                'items': [
                    {'name': currentUniverse.getName, 'url': url('player.overview'), 'icon': 'fas fa-atom has-text-primary'},
                    {'name': 'galaxy.tactic', 'url': url('galaxy.tactic'), 'icon': 'fas fa-home has-text-primary'},
                    {'name': 'galaxy.tactic.military', 'icon': 'fas fa-fighter-jet has-text-primary'},
                ]
            }
        %}
    </div>

    <div class="container has-margin">
        <h5 class="title is-size-5 has-text-centered">
            {{ player.getUser.getName }} ({{ player.getGalaxy.getNumber }}:{{ player.getGalaxyPosition }})
        </h5>

        {# include "@Galaxy/partial/galaxy-table-tactic-fleet-movable.twig"
            with {
                'player': player,
            }
        #}
    </div>

    <div class="container has-margin">
        <h5 class="title is-size-5 has-text-centered">
            {{ 'galaxy.tactic.military.stationary' | trans }}
        </h5>

        {# include "@Galaxy/partial/galaxy-table-tactic-fleet-stationary.twig"
            with {
                'player': player,
            }
        #}
    </div>
{% endblock %}
