{% extends "@App/layout/page-layout.twig" %}

{% block body %}
    {% include '@App/layout/partial/account-navigation-top.twig' %}

    <section class="section custom-duration-200 has-margin" off-canvas="id-1 left push">
        {% include '@App/layout/partial/account-navigation-left.twig' %}
    </section>

    <section class="section" canvas="container" id="sidebar-content-wrapper">
        {% block content %}{% endblock %}
        {% include '@App/layout/partial/footer.twig' %}
    </section>
{% endblock %}
